/* Phones first */
.hero-title {
  font-size: 1.3rem;
}

.hero-text {
  font-size: 0.75rem;
  margin-top: 0.4rem;
}

.hero-img {
  width: 4rem;
}

/* Tablets */
@media (min-width: 640px) {
  .hero-title {
    font-size: 2.2rem;
  }

  .hero-text {
    font-size: 1rem;
  }

  .hero-img {
    width: 7rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .hero-title {
    font-size: 3.5rem;
  }

  .hero-text {
    font-size: 1.25rem;
  }

  .hero-img {
    width: 14rem;
  }
}
